@{
    Layout = null;
}
@{
    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="device-width" />
    <title>来肯云商系统升级通知</title>
    <style>
        body{
            background-color:#f5f5f5;
        }
        .upgrade{
            text-align:center;
            color:#565656;
            padding-top:40px;
            font-family:"Microsoft YaHei";
        }
        .upgrade_content {
                width: 930px;
                height: 300px;
                margin: 40px auto;  
                box-shadow: 0px 0px 26px #E4E4E4;
                border: 2px solid #E4E4E4\9;
        }
        .upgrade_content .title{
            font-size:27px;
            margin-bottom:30px;
        }
        .upgrade_content .text{
            font-size:16px;
            text-align:left;
            line-height:32px;
            padding-left: 97px;
        }
        .upgrade_content .text .date{
            float:right;
            text-align: center;
            margin-right: 110px;
        } 
        .upgrade_content .text div{
            text-indent:2em;
        }
        .upgrade_content .text div span{
            display:block;
        }
        .upgrade_content .content_wra{
             padding-top: 30px;
             height: 270px;
            width: 960px;
            background-color: #f5f5f5;
            position: relative;
            left: -16px;
        }
    </style>
</head>
<body>
    <div class="upgrade">
        <img style="width:90px;" src="@(cdnFileRoot)/Images/3.0/account/upGradeimg1.jpg" />
        <div class="upgrade_content">
            <div class="content_wra">
                <div class="title">系统升级中</div>
                <div class="text">
                    <span>尊敬的客户：</span>
                    <div>
                        为了能够给您提供更优质的服务，我公司将于2016年9月11日晚22点停机升级维护，预计8小时，期间所有<br />系统将暂停服务。升级过程中，如有任何疑问，请电话咨询400-800-7683。
                    </div>
                    <div style="padding-left:10px;"><span>由此给您带来的不便，敬请谅解。</span>@*<span>特此通告。</span>*@</div>
                    <div class="date"><span>来肯云商</span><span>2016年9月11日</span></div>
                </div>          
            </div>           
        </div>
        <img src="@(cdnFileRoot)/Images/3.0/account/upGradeimg2.jpg" />
    </div>
    @*<div style="color:#FFF;width:800px;position:absolute;left:50%;margin-left:-400px;">        
        <p style="font-size:40px;font-weight:900;text-align:center;">升级通知</p>
        <p style="text-align:left;">尊敬的客户：</p>
        <p style="line-height:30px;"><span style="padding-left:30px;"></span>为了能够给您提供更优质的服务，我公司将于2016年9月11日晚22点停机升级维护，预计8小时，期间所有系统将暂停服务。升级过程中，如有任何疑问，请电话咨询400-6903-603</p>
        <p style="padding-left:30px;">由此给您带来的不便，敬请谅解。</p>
        <p style="padding-left:30px;">特此通告</p>
        <p style="text-align:right;padding-right:20px;">来肯云商</p>
        <p style="text-align:right;">2016年9月11日</p>
        <a style="color:#FFF;display:none;"  href="http://www.lk361.com/news/newscontent/206" target="_blank">点此了解升级详情</a>
    </div>*@
</body>
</html>
