<?xml version="1.0" encoding="utf-8"?> 
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  --> 
<configuration>
  <configSections>
	<sectionGroup name="cc.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
      <section name="cc.dal" type="CC.Framework.DAL.DALSection, CC.Framework.DAL" />
      <section name="cc.framework" type="CC.Framework.FrameworkSection, CC.Framework" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\log.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
	  <rollingMode value="Composite" />
      <!--日期的格式-->
      <datePattern value="yyyyMMdd" />
      <!--最大变换数量-->
      <maxSizeRollBackups value="10" />
      <!--最大文件大小-->
      <maximumFileSize value="100MB" />      
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="DBLOG" />
        <acceptOnMatch value="false" />
      </filter>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="REQLOG" />
        <acceptOnMatch value="false" />
      </filter>
    </appender>
    <appender name="LKLogAppender" type="CC.Public.Logger.LaikenLogAppender,CC.Public">
      <param name="BufferSize" value="200" />
       <collector type="CC.Public.Logger.MysqlLogCollector,CC.Public">
      <param name="LogLogFile" value=".\loglog\log.txt"></param>
        <param name="ConnectionString" value="server=127.0.0.1;database=cc_log;uid=root;pwd=1"></param>
      </collector>
    </appender>
    <root>
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="LKLogAppender" />
    </root>
  </log4net>
  <cc.com>
    <!--memcached 配置-->
    <memcached protocol="Binary"> 
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:10" deadTimeout="00:02:00" />
    </memcached>
    <!--dal 配置-->
    <cc.dal>
      <!--DBLogMonitorSeconds:数据库日志监控频率（写入频率）,单位：秒 connectionString:数据库日志连接字符串-->
      <dbLog dbLogMonitorSeconds="1" connectionString="server=127.0.0.1;database=cc_log;uid=root;pwd=1" />
      <!--ConnMonitorSeconds: 连接字符串监控的频率，单位：秒  connectionString: core 连接字符串-->
      <core connMonitorSeconds="10" connectionString="server=127.0.0.1;database=cc_global;uid=root;pwd=1">
        <!--采用分片的数据库，DBName:数据库名称 ColumnName:分片字段 RouteDB:存储分区的数据库-->
        <shardDB dbName="erp" columnName="profileid" routeTable="erp_shard" registerShard="1" />
      </core>
    </cc.dal>
    <!--framework 配置-->
    <cc.framework errorintercept="true">
      <!--<global connectionString="server=192.168.1.101;database=cc_global;uid=root;pwd=1"/>-->
      <!--loginUrl : 登录url domain:域 sessionTimeout ：用户超时时间-->
      <authentication loginUrl="~/account/logon" domain="laikensoft.com" sessionTimeout="120" />
    </cc.framework>
  </cc.com>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="enabledRegister" value="true" />
    <add key="SQLRAssemblyName" value="CC.InnerBLL,CC.ERP.BLL" />
    <add key="smsaccount" value="cdlkxx" />
    <add key="smspwd" value="NSCY6B" />
		
	    <!--register1:完整注册; register2:快速注册-->
    	<add key="defaultregister" value="register1" />
    <add key="defaultlogin" value="logon" />
<!--支付倍数,用于测试-->
<add key="alipaytimes" value="1" />

    
    <add key="sms_ihuyi_uname" value="cf_xtcs" />
    <add key="sms_ihuyi_passwd" value="asdf1234" />
    <add key="sns_ihuyi_url" value="http://106.ihuyi.cn/webservice/sms.php" />

    <add key="sms_woxp_code" value="11915" />
    <add key="sms_woxp_uname" value="woxp_lk361" />
    <add key="sms_woxp_passwd" value="e10adc3949ba59abbe56e057f20f883e" />
    <add key="sms_woxp_url" value="http://gateway.woxp.cn:6630/gb2312/web_api/" />
	
	<add key="sms_emay_url" value="http://sdk4report.eucp.b2m.cn:8080/sdkproxy/sendsms.action" />
    <add key="sms_emay_balance_url" value="http://sdk4report.eucp.b2m.cn:8080/sdkproxy/querybalance.action" />
    <add key="sms_emay_uname" value="6SDK-EMY-6688-KJYPT" />
    <add key="sms_emay_passwd" value="394546" />

    <add key="sms_channel" value="emay" />
	
	<add key="cdnFileRoot" value="" />
	
    <add key="rootdomain" value="laikensoft" />
    <add key="passportdomain" value="www.laikensoft.com" />
    <add key="surpportpassportSSL" value="false" />
    <add key="erpdomain" value="127.0.0.1:8080" />
    <add key="mall2bdomain" value="testb2b.lk361.com" />
	<add key="allinonedomain" value="testclient.lk361.com" />
	
	<add key="defaultregister" value="register" /> 
	<add key="defaultlogin" value="logon" />
	
    <add key="needVirRegInfo" value="true" />
	 
	<add key="ShowGndbOnfree" value="false" />
	<add key="cfgfree" value="false" />
	<add key="wx_service_url" value="http://oathen.lk361.com" />
	<add key="isTest" value="1" />
	<add key="default_menumode" value="1" />
	<add key="webhost" value="http://www.laikensoft.com" /> 
	<!--注册是否开启大客户引导-->
    <add key="is_ka_register" value="true" />
	<!-- 刷新ERP缓存地址 -->
	<add key="lkurl" value="{'Url':'http://www.laikensoft/sysadmin.aspx?method=flushprofile', 'IPList':[{IP:'127.0.0.1',Port:'8080'}]}" />
	
	<!--offline为true则表示未正式上线，所有请求都返回统一页面-->
    <add key="offline" value="false" />
    <!--tester_ip 在offline的时候如果ip在tester_ip内的话则允许正常访问-->
    <add key="tester_ip" value="1" />	
	<!--eqishow微信链接-->
    <add key="eqishow_url" value="http://wxwenku.lk361.com"></add>
    <!--appserver地址-->
    <add key="appserver" value="http://127.0.0.1:8085" />

	<!--代理商验证成功跳转地址-->
    <add key="agent_redirect_url" value="http://testagent.lk361.com/promoter/index" />
	<add key="oathenserver" value="cauth.lk361.com" />
	<add key="eqishow_userid" value="1" />
	
	<!--微信文库cms分类配置-->
    <add key="wenku_cats" value="{&quot;cats&quot;:[          {&quot;title&quot;:&quot;SAAS行业&quot;,value:18},          {&quot;title&quot;:&quot;来肯产品&quot;,value:19},          {&quot;title&quot;:&quot;互联转型&quot;,value:20},          {&quot;title&quot;:&quot;用户答疑&quot;,value:21},          {&quot;title&quot;:&quot;来肯伙伴&quot;,value:22},          {&quot;title&quot;:&quot;管理咨询&quot;,value:23},          {&quot;title&quot;:&quot;其他&quot;,value:-1}          ]}" />
	
	<!--微信文库列表轮播新闻-->
    <add key="wenku_fixed_ids" value="1428" />	
	<!--微信动态文库列表不显示这些id-->
    <add key="wenku_except_ids" value="U701P797N7" />

    <!-- 微信推广员和代理商相关地址 -->
    <!--推广申请地址-->
    <add key="promoterapurl" value="http://wxwenku.lk361.com/v-U701P797N7?show_registe_promoter=1&amp;nolastpage=1" />  
     <!--代理申请地址-->
    <add key="agentapurl" value="http://testagent.lk361.com/promoter/registeagentdes" />   
	<!--是否不发送短信-->
    <add key="is_send_msg" value="true" />
    <!--中奖短信-->
    <add key="lottery_message" value="尊敬的{0}，恭喜！您已在来肯3周年庆幸运转盘抽中{1}1份，稍后客服人员会与您取得联系！如有疑问可拨打统一服务热线4006903603。" />
	
	<add key="分批升级新版本配置" value="[   { shardid:1,erpdomain:'127.0.0.1:8080',allinonedomain:'127.0.0.1:8080'}]" />
		
	<add key="erp_use_ssl" value="false" />
	<add key="erp_interface_url" value="http://127.0.0.1:8085/innerapi" />
	 <!--异常发送邮件配置-->
    <add key="is_send_email" value="true" />
    <add key="email_list" value="zhanghaiming@lk361.cn,734032385@qq.com,277432657@qq.com" />
    <add key="smtp_cfg" value="{'host':'smtp.lk361.com','port':25,'account':'customer_service@lk361.cn','password':'41`VB*dDyzj!5G-BX~','displayname':'成都来肯信息技术有限公司'}" />
  </appSettings>
  <connectionStrings>
  <add name="ccglobal" connectionString="SERVER=127.0.0.1;DATABASE=cc_global;uid=root;pwd=1" />
	<add name="lknews" connectionString="server=10.160.66.234;database=lk;uid=news;pwd=123" />
	<add name="eqishow" connectionString="server=10.252.80.146;port=3306;database=eshow;uid=eshow;pwd=eshow123" />

  </connectionStrings>
  <system.web>
	<sessionState mode="StateServer" timeout="20" />
    <compilation targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <httpRuntime targetFramework="4.5" />
	<customErrors mode="On" defaultRedirect="/error">
      <error statusCode="404" redirect="/error/error404" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
        </staticContent>
		<caching>
            <profiles>
                <add extension=".exe" policy="DisableCache" kernelCachePolicy="DisableCache" />
                <add extension=".css" policy="DontCache" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        <rewrite>
            <rules>
                <rule name="setup.exe" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="setup.exe*" />
                    <action type="Redirect" url="http://img1.lk361.cn/download/lk361-client-setup-1.4.3.1.exe" redirectType="Found" />
                </rule>
                <rule name="laikenplugin-setup.exe" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="laikenplugin-setup.exe*" />
                    <action type="Redirect" url="http://img1.lk361.cn/download/lk361-client-setup-1.4.1.exe" redirectType="Found" />
                </rule>
                <rule name="product/getplugin" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="product/getplugin" />
                    <action type="Redirect" url="http://img1.lk361.cn/download/laikenplugin-setup_3.0.0.7.exe" redirectType="Found" />
                </rule>
                <rule name="/offline.html" patternSyntax="ExactMatch" stopProcessing="true">
                    <match url="offline.html" />
                    <action type="Redirect" url="http://www.baidu.com" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.html" responseMode="ExecuteURL" />
        </httpErrors>
        <urlCompression doDynamicCompression="false" />
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
            </customHeaders>
        </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.82009668.com:888/SDK/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="SMService.ServiceSoap" name="ServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>