body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    color: #333;
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

ul, ol {
    list-style-type: none;
}

select, input, img, select {
    vertical-align: middle;
}

input {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #000;
}

    a:hover {
        color: #c00;
        text-decoration: none;
    }

.clear {
    clear: both;
}

.lkDialog {
  z-index:999;
    background: url(images/alertwindowbg.png);
    width: 597px;
    height: 320px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: none;
}

.lkDialogText {
    position: absolute;
    width: 420px;
    height: 100px;
    left: 100px;
    top: 100px;
    font-size: 18px;
    text-indent: 30px;
}

.lkDialogBtn {
    position: absolute;
    width: 92px;
    height: 40px;
    background: #FFFBDC;
    color: #6A021F;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
    border-radius: 3px;
    cursor: pointer;
}

.lkDialogOnlyClose {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 23px;
    top: 55px;
    cursor: pointer;
}

#giftList {
    position: absolute;
    width: 310px;
    height: 280px;
    top: 666px;
    right: 340px;
    font-size: 15px;
    color: #A36441;
}

#showme {
    position: absolute;
    background: url(images/showme.png);
    width: 340px;
    height: 70px;
    top: 953px;
    right: 350px;
    cursor:pointer;
}

#showmelist {  
    line-height:20px;
    padding:15px ; 
    font-size: 16px; 
    background: #FFF9EF;
    width: 440px;
    min-height: 70px;
    max-height:250px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor:pointer;
    border:2px solid #FA3F50;
    border-radius:5px;
    color: #6C0C27;
    display:none;
}

.bg1 {
    width: 1590px;
    height: 474px;
    background: url(images/pagebg_01.jpg);
    margin: 0 auto;
}

.bg2 {
    width: 1590px;
    height: 516px;
    background: url(images/pagebg_02.jpg);
    margin: 0 auto;
}

.bg3 {
    width: 1590px;
    height: 524px;
    background: url(images/pagebg_03.jpg);
    margin: 0 auto;
}

.bg4 {
    width: 1590px;
    height: 351px;
    background: url(images/pagebg_04.jpg);
    margin: 0 auto;
}

.bg5 {
    width: 1590px;
    height: 318px;
    background: url(images/pagebg_05.jpg);
    margin: 0 auto;
}

.pointer {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 136px;
    left: 145px;
    background: url(images/pointer2.png);
}

.lottery {
    position: absolute;
    background: url(images/zhuanpanbg.png);
    width: 533px;
    height: 649px;
    top: 440px;
    left: 344px;
}
