@{
    ViewBag.Title = "支付结果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="help">

    <div class="banner" style="height:70px;"></div>

    <div class="panel">
        <div class="container"style="margin-top:50px;">
            <div class="container" style="padding:0;">
                <div class="alert alert-block alert-success" style="padding: 40px">
                    <h3 style="color:#5C5858;">您的订单已经支付成功，<span style="margin-left:20px;"><a style="color:#3c763d;" target="_blank" href="/service/OrderCenter">点击进入订单中心</a></span></h3>
                </div>
            </div>
        </div>
    </div>
</div>