@{
    ViewBag.Title = "关于来肯云商";
    Layout = "~/Views/Shared/_MLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

<div class="Mnew_index_wra Mnew_about_wra">
    <div class="Mnew_index_banner">
        <img src="@(cdnFileRoot)/mobile/image/3.0/index/Mnew_aboutbgimg.jpg?v=2017-0413" />
        <div class="content_banner" style="margin-top:25px;">
            <div class="title">关于来肯</div>
            <div class="text1"><span>在云端</span>连接一切事业</div>           
        </div>
    </div>
    <div class="Mnew_about_content1" style="margin-bottom:0;">
        <div class="content1_title">
            <span>公司介绍</span>
        </div>
        <div class="content1_text">
            <p>
                成都来肯信息技术有限公司于2013年创立，总部位于四川成都，是国内领先的SaaS软件服务提供商。来肯专注于服务中小微商贸流通企业，持续为不同规模、不同阶段的企业用户提供“管理+销售”的一体化平台解决方案。公司成立至今，已拥有多项独立知识产权。
            </p>
            <p>
                作为是来肯旗下核心产品，“来肯云商”以云端ERP为核心，（融合云技术创新、移动管理销售、大数据及用户使用场景的智能商务管理平台。经过数代更迭，来肯精心研发的）集进销存ERP、在线商城、客户管理、协同办公于一体的“来肯云商4.5”，正在引领企业用户率先步入“精营时代”。目前，全球已有超过10万家企业用户正在使用来肯云商，享受“互联网+经营”带来的便捷与高效。
            </p>
        </div>     
        <div class="about_course">
            <div class="content1_title">
                <span style="margin-top:0;font-size:27px;">发展历程</span>
            </div>
            <div style="position:relative;">
                <div class="cont1_img"><img src="@(cdnFileRoot)/mobile/image/3.0/index/about_course.png?v=0413" class="img-responsive" /></div> 
                <div class="about_list1 ab_list">
                    <span class="about_time">2013.7</span>
                    <span class="about_title">公司成立</span>
                    <p class="about_p">成都来肯信息技术有限公司创立，总部位于四川成都</p>
                </div>
                <div class="about_list2 ab_list">
                    <span class="about_time" style="color:#38acff">2014.12</span>
                    <span class="about_title">来肯在线</span>
                    <p class="about_p" style="text-align:right;margin-left: 18%;">旗下核心产品“来肯在线”平台正式公开</p>
                </div>
                <div class="about_list3 ab_list">
                    <span class="about_time" style="color:#4bd3ad">2015.3</span>
                    <span class="about_title">首次融资</span>
                    <p class="about_p">获伊禾资本天使轮投资注册企业用户超过60000家</p>
                </div>
                <div class="about_list4 ab_list">
                    <span class="about_time" style="color:#758cfc">2016.3</span>
                    <span class="about_title">一体化成型</span>
                    <p class="about_p" style="margin-left: 18%;">来肯在线更名为来肯云商B2C零售商城、订货商城上线，全面实现ERP管理+销售的一体化产品布局，获得用户好评</p>
                </div>
                <div class="about_list5 ab_list">
                    <span class="about_time" style="color:#38acff">2016.9</span>
                    <span class="about_title">全新4.0版本上线</span>
                    <p class="about_p">秉着“一切为了商家”的产品发展理念，来肯匠心独运180余天的全新4.0版本发布，使其竞争优势进一步扩大</p>
                </div>
                <div class="about_list6 ab_list">
                    <span class="about_time" style="color:#4bd3ad">2017.2</span>
                    <span class="about_title">荣获CCTV展播品牌</span>
                    <p class="about_p" style="margin-left: 18%;"> 诚信为本，用专业与专注，创造价值与品质；来肯云商荣获CCTV展播品牌称号。

                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="Mnew_about_bot">

    </div>
</div>
<div style="height:58px;"></div>
