@{
    ViewBag.Title = "来肯云商-手机官网";
    ViewBag.Keywords = "在线进销存,进销存管理软件,进销存软件免费版,进销存,进销存软件,经销商管理";
    ViewBag.description = "来肯云商在线管理软件,中小微企业互联网SAAS供应商，提供在线进销存,手机商城,客户管理,协同办公等企业整体解决方案";
    Layout = "~/Views/Shared/_MLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

@*<h2>B2B</h2>*@
<div class="Mb2b_wra">
    <div class="Mb2b_banner_wra">
        <div class="div_header" style="display:none;">
            <a href="/mobile/index"><img src="@(cdnFileRoot)/mobile/image/3.0/index/Nlogo_img.png" /></a>          
        </div>
        <div class="Mb2b_banner">
            <ul>
                <li class="li_left">
                    <div class="title">B2B批发商城</div>
                    <div class="text"><span>·分销订货·</span><span>·渠道管控·</span></div>
                    <div class="text"><span>·多级报价·</span><span>·跟踪查询·</span></div>
                    <div><a class="btn b2b_btn" target="_blank" href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]">免费注册试用</a></div>
                    <div class="text2"><span>无需下载安装</span>注册即可使用</div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="Mb2b_content1_wra">
        <div class="Mtitle"><span>报价</span><span>订单</span><span>库存</span>渠道</div>
        <div class="Mtitle"><span>销售</span>采购......一站管理</div>
        <div class="Msubtitle">
            <div>依托电商模式改造传统订发货体系</div>
            <div>为企业打造专属批发商城</div>
        </div>
    </div>
    <div class="Mb2b_content2_wra">
        <div class="Mtitle"><span>信息化手段</span>清除供应链订发货障碍</div>
        <div class="content">
            <div class="content_text content_text1">
                <div class="text1"><div>记不清报价</div>报价无层级?</div>
                <div class="text2"><div>价格清晰跟踪</div>据渠道等级定价</div>
            </div>
            <div class="content_text content_text2" style="display:none;">
                <div class="text1"><span>渠道少</span>拓展困难</div>
                <div class="text2"><div>电商模式</div>省力构建渠道队伍</div>
            </div>
            <div class="content_text content_text3" style="display:none;">
                <div class="text1">订发货效率太低</div>
                <div class="text2"><div>网购式流程</div>迅速处理跟进</div>
            </div>
            <div class="content_text content_text4" style="display:none;">
                <div class="text1">订单分散常出错</div>
                <div class="text2"><div>所有订单自动汇总</div>核对精确</div>
            </div>
            <div class="content_text content_text5" style="display:none;">
                <div class="text1">款项结算等太久</div>
                <div class="text2"><div>订单线上支付</div>加速资金周转</div>
            </div>
            <div class="content_text content_text6" style="display:none;">
                <div class="text1">业务员抄单费周折</div>
                <div class="text2"><div>网络自动录单 </div>数据实时回传总部</div>
            </div>
            <div class="content_text content_text7" style="display:none;">
                <div class="text1"><div>新老业务员更替</div>经销商跟进吃力</div>
                <div class="text2"><div>商城系统接管</div>业务不再因人中断</div>
            </div>
            <div class="content_text content_text8" style="display:none;">
                <div class="text1"><span>下订单后</span>库存无货</div>
                <div class="text2"><div>库存数据实时同步</div>充足库存满足订单</div>
            </div>
        </div>
        <ul>
            <li class="item1 active">
                <div></div>
                报价体系
            </li>
            <li class="item2">
                <div></div>
                渠道规模
            </li>
            <li class="item3">
                <div></div>
                交易效率
            </li>
            <li class="item4">
                <div></div>
                订单处置
            </li>
            <li class="item5">
                <div></div>
                结算周期
            </li>
            <li class="item6">
                <div></div>
                外勤成本
            </li>
            <li class="item7">
                <div></div>
                业务对接
            </li>
            <li class="item8">
                <div></div>
                库存管控
            </li>
        </ul>
        <div class="clear"></div>
        <div class="wra_line"></div>
    </div>
    <div class="Mb2b_content3_wra">
        <div class="Mtitle"><span>效果聚焦</span>批发商城<span class="num"> 7</span>大优势</div>
        <ul>
            <li>
                <div class="item1 item">
                    <span class="icon"></span>
                    <div><span>异地业务</span>有力协作</div>
                    <div>供需双方在线高效协作</div>
                </div>
            </li>
            <li>
                <div class="item2 item">
                    <span class="icon"></span>
                    <div><span>报价体系</span>灵活调整</div>
                    <div>不同等级经销商跟踪报价</div>
                </div>
            </li>
            <li>
                <div class="item3 item">
                    <span class="icon"></span>
                    <div><span>线上交易</span>自动生成</div>
                    <div>自营电商实现交易自动化</div>
                </div>
            </li>
            <li>
                <div class="item4 item">
                    <span class="icon"></span>
                    <div><span>订单状态</span>双向查询</div>
                    <div>自助查询线上订单状态</div>
                </div>
            </li>
            <li>
                <div class="item5 item">
                    <span class="icon"></span>
                    <div><span>多屏操作</span>支持微信</div>
                    <div>微信、网页均可自动订货</div>
                </div>
            </li>
            <li>
                <div class="item6 item">
                    <span class="icon"></span>
                    <div><span>低成本</span>优服务</div>
                    <div>云端免费升级维护</div>
                </div>
            </li>
            <li>
                <div class="item7 item">
                    <span class="icon"></span>
                    <div><span>数据备份</span>高度加密</div>
                    <div>云服务器备份，安全可靠</div>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
        <div class="wra_line"></div>
    </div>
    <div style="height:60px;"></div>
    @*<div class="Mb2cb2c_content_bot">
        <div class="content_wra">
            <div class="title"><span></span>云端商贸管理专家<span></span></div>
            <div class="content_wra_ul">
                <ul>
                    <li class="btn_left"><a class="btn" href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]">免费注册试用</a></li>
                    <li class="btn_right"><a class="btn " href="/mobile/erp">了解第5代进销存</a></li>
                </ul>
            </div>         
            <div class="clear"></div>
        </div>
    </div>*@
</div>

<script>
    $(function () {
        var index = $(".Mb2b_content2_wra ul li").size();
        var i = 0
        $(".Mb2b_content2_wra ul li").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
            i = $(this).index();
            $(".Mb2b_content2_wra .content .content_text").eq(i).show().siblings().hide();
        });
        setInterval(function () {
            if (i > index) {
                i = 0
            }
            $(".Mb2b_content2_wra ul li").eq(i).addClass("active").siblings().removeClass("active");
            $(".Mb2b_content2_wra .content .content_text").eq(i).show().siblings().hide();
            i++;
        }, 2000)

    })
</script>