@{
    ViewBag.Title = "来肯云商进销存让你告别旧式催款，再也不用怕影响面子啦！";
    ViewBag.Keywords = "进销存 ";
    ViewBag.description = "进货,销售,库存统一管理软件。货款讨要遥遥无期，资金周转压力大？面对人情账，不好意思催款？收款依据不足，形成烂账！来肯云商专业研发进销存系统，像转发微信消息一样，一键分享欠款明细到客户手机上！ ";

    Layout = "~/Views/Shared/_MLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}

    <div class="luodi_Content1">
        <img src="@(cdnFileRoot)/mobile/image/LandingPageForYS/luodi_bg.png?v=20170714" class="img-responsive"/>
        <div class="title1">像转发微信消息一样，一键分享欠款明细到客户手机上</div>
        <div class="title2">催款有理有据！</div>
        <a class="luodi_btn" href="/mobile/register?agentid=@Request["agentid"]&salerid=@Request["salerid"]&sourceflag=@Request["sourceflag"]">立即免费试用</a>
        <div class="requier">您或许还有以下需求？</div>
        <div class="down"><img src="@(cdnFileRoot)/mobile/image/LandingPageForYS/down.png" class="img-responsive"/></div>
     </div>
@*将进销存ERP(new页面)加载进来*@
<div id="result"></div>

<script>
    @*load方法引入另外一个页面文本内容*@
    $(function () {
        $("#result").load("/Mobile/New  #container");
    })
   
</script>