@{
    ViewBag.Title = "来肯云商邀请您关注微信公众";
    ViewBag.BannerTitle = "招募合伙人";
    Layout = "~/Views/Shared/_MAccountLayout.cshtml";

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<div class="registerTitle">
    <a href="/mobile/index"><img src="@(cdnFileRoot)/mobile/image/3.0/product4.0/topbarIcon.png" /></a>
    来肯云商合作加盟
</div>
<section id="step3">
    <p style="text-align:center;font-size:18px;color:#00B4FF;padding-top:30px;">@Request["message"]</p>
    @if (!string.IsNullOrEmpty(Request["info"]))
    {
        <p style="text-align:center;font-size:15px;color:#FF4B03;margin-top:-10px;">@Request["info"]</p>
    }
    <div id="style1">
        <img src="@(cdnFileRoot)/Images/3.0/common/download_partner.png" />
        <p>长按二维码关注来肯合伙人</p>
    </div>
</section>  