@using CC.InnerBLL.BLL.Agent;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var urlprefix_s = CC.ERP.Portal.Global.urlprefix_s;

    var urlprefix = "http://" + Request.Url.DnsSafeHost;
    var register_url = string.Format("{0}/account/register", urlprefix_s);
    var login_url = "";

    if (AgentInfo.Current.IsLaiken)
    {
        register_url += string.Format("?salerid={0}&sourceflag={1}", Request["salerid"], Request["sourceflag"]);
    }
    else
    {
        register_url += string.Format("?agentid={0}&salerid={1}&sourceflag={2}", AgentInfo.Current.AgentID, Request["salerid"], Request["sourceflag"]);
    }

    login_url = register_url.Replace("register", "logon");
    ViewBag.urlprefix = urlprefix;

    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
    ViewData.Add("cdnFileRoot", cdnFileRoot);
}
<style>
    ul,li{padding:0;margin:0;}
    .clear{clear:both;}
    .companysure_bgimg{
        width:100%;
    }
    .companysure_bgimg img{
        width:100%;
    }
    .companysure_panel{
        margin:0 auto ;
        width:550px;
        text-align:center;
    }
    #companysure{
        background-color:#60bdff;
        /*margin-top:80px;*/
        padding:60px 0 130px 0;
    }
    .panel_title{
        text-align:center;
        font-size:30px;
        color:#fff;
        margin:65px 0 30px 0;
    }
     .companysure_panel ul{
         width:381px;
         margin:0 auto;
     }
    .companysure_panel ul li{
        float:left;
    }
     .companysure_panel ul li #telephone{
         width:300px;
         border:none;
         border-radius:0;
         margin-right:7px;
         font-size:15px;
     }
     .companysure_panel ul li #checkTelephone{
         background-color:#f34b4b;
         padding:6px 22px;
         font-size:15px;
         border:none;
     }
     .companysure_panel div p{
         text-align:center;
         margin-top:15px;
         color:#F34B4B;
     }
     .companysure_panel .user_reigster{
         text-align:center;
         display:inline-block;
         margin-top:10px;
         font-size:16px;
         text-decoration:underline;
     }
     .companysure_img{
         text-align:center;
     }
</style>
<div id="companysure">
    <div class="companysure_panel">
        <div class="companysure_img">
            <img src="@(cdnFileRoot)/Images/3.0/buy/companysure_img1.png" />
        </div>
        <div class="panel_title">欢迎购买来肯云商产品</div>
        <form role="form" method="post" action="/Buy/CompanySure">
            <div>
                <ul>
                    <li>
                        <input type="text" id="telephone" name="telephone" class="form-control" placeholder="已注册 , 请填写管理员手机号" />
                        <input type="hidden" id="buyType" name="buyType" class="form-control" value="@ViewBag.buyType" />
                    </li>
                    <li>
                        <button type="submit" id="checkTelephone" data-loading-text="验证中..." class="btn btn-info">确定</button>
                    </li>
                </ul>
                <div class="clear"></div>
                @if (ViewBag.Result != null && ViewBag.Result == true)
                {
                    <p>
                        <i class="glyphicon glyphicon-minus-sign"></i> <span id="err_msg">@ViewBag.ErrorMsg</span>
                    </p>
                }
            </div>
        </form>
        <a class="user_reigster" href="@(register_url)">未注册？点此注册</a>
    </div>
</div>
