@{
    ViewBag.Title = "LkHelp";
    string cdnFileRoot = CC.ERP.Portal.Global.CDNFileRoot;
}
<style>
    div img {
        max-width: 100%;
    }

    .Lkhelp_btn {
        position: fixed;
        right: 10px;
        bottom: 95px;
        z-index: 1000;
        opacity: .8;
        color: #fff;
        display: block;
        width: 50px;
        height: 50px;
        background: #428bca;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        border: 1px solid #fff;
    }

        .Lkhelp_btn:hover {
            border: 1px solid #428bca;
            color:#428bca;
            background:#fff;
        }
</style>
<div>
    <img src="@(cdnFileRoot)/Images/3.0/Lkhelp/value_01.jpg" class="img-responsive" />
</div>
<div>
    <img src="@(cdnFileRoot)/Images/3.0/Lkhelp/value_02.jpg" class="img-responsive" />
</div>
<div>
    <img src="@(cdnFileRoot)/Images/3.0/Lkhelp/value_03.jpg" class="img-responsive" />
</div>
<div>
    <img src="@(cdnFileRoot)/Images/3.0/Lkhelp/value_04.jpg" class="img-responsive" />
</div>
<a href="/home/index" target="_blank" class="Lkhelp_btn">
    首页
</a>