@{
    ViewBag.Title = "进销存_在线进销存_进销存软件_进销存系统";
    ViewBag.Keywords = "进销存,进销存软件,进销存系统,在线进销存";
    ViewBag.description = "进货,销售,库存统一管理软件。来肯云商专业研发进销存系统，目前获多项独立知识产权，包括9项软著、3项认证、3项专利！进销存软件无需下载，可直接使用在线进销存登录即可管理。选择让您放心的进销存软件。";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        background: #eee;
    }
</style>
<div class="valueaddTop">
    增值服务
</div>
<div class="valueadd_cont">
    <table>
        <tr>
            <th class="w_116">类别</th>
            <th class="w_528" colspan="3">描述</th>
            <th class="w_263">价格</th>
            <th class="w_294">备注</th>
        </tr>
        <tr>
            <td rowspan="8" class="h_47">服务</td>
            <td class="h_47" colspan="3">专属金牌客服服务</td>
            <td class="h_47 c_f5">¥780/年</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td class="h_47" colspan="3">定期在线培训</td>
            <td class="h_47 c_f5">¥100/小时</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td class="h_47" colspan="3">上门培训</td>
            <td class="h_47 c_f5">根据企业规模而定</td>
            <td class="h_47 c_a1"></td>
        </tr>
        <tr>
            <td class="h_47" colspan="3">系统初始化服务</td>
            <td class="h_47 c_f5">根据企业规模而定</td>
            <td class="h_47 c_a1"></td>
        </tr>
        <tr>
            <td class="h_47" colspan="3">恢复7天内数据</td>
            <td class="h_47 c_f5">¥600/次</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td class="h_47" colspan="3">恢复15天内数据</td>
            <td class="h_47 c_f5">¥1000/次</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td class="h_47" colspan="3">恢复30天内数据</td>
            <td class="h_47 c_f5">¥1500/次</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td class="h_47" colspan="3">数据导入（从其它软件将数据导入来肯云商）</td>
            <td class="h_47 c_f5">¥200/次</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td rowspan="6" class="bg_fb">独享服务器</td>
            <td class="bg_fb w_97" rowspan="2">普通独立</td>
            <td class="bg_fb h_173 w_192">应用服务器L1（可选）</td>
            <td class="bg_fb h_173 w_236 text_left">独享服务器<br />2核心<br />50G普通盘<br />4G内存<br />6M独享带宽</td>
            <td class="bg_fb h_173 c_f5 w_265">¥10000/年</td>
            <td class="bg_fb h_173 w_294"></td>
        </tr>
        <tr>
            <td class="bg_fb h_173 w_192">数据库L1</td>
            <td class="bg_fb h_173 w_236 text_left">独享数据库服务器<br />4核心<br />100G高速盘<br />8G内存</td>
            <td class="bg_fb h_173 c_f5 w_265">¥26000/年</td>
            <td class="bg_fb h_173 w_294"></td>
        </tr>
        <tr>
            <td class="bg_fb w_97" rowspan="2">白金独配</td>
            <td class="bg_fb h_173 w_192">应用服务器L2（可选）</td>
            <td class="bg_fb h_173 w_236 text_left">独享Web服务器<br />4核心<br />50G普通盘<br />8G内存<br />10M独享带宽</td>
            <td class="bg_fb h_173 c_f5 w_265">¥20000/年</td>
            <td class="bg_fb h_173 w_294"></td>
        </tr>
        <tr>
            <td class="bg_fb h_173 w_192">读写分离版数据库L2 </td>
            <td class="bg_fb h_173 w_236 text_left">独享数据库服务器+只读实例<br />4核心<br />100G高速盘<br />8G内存</td>
            <td class="bg_fb h_173 c_f5 w_265">¥36000/年</td>
            <td class="bg_fb h_173 w_294"></td>
        </tr>
        <tr>
            <td class="bg_fb w_97" rowspan="2">钻石独配</td>
            <td class="bg_fb h_173 w_192">应用服务器L3(可选)</td>
            <td class="bg_fb h_173 w_236 text_left">独享Web服务器<br />4核心<br />50G普通盘<br />8G内存<br />10M独享带宽</td>
            <td class="bg_fb h_173 c_f5 w_265">¥20000/年</td>
            <td class="bg_fb h_173 w_294"></td>
        </tr>
        <tr>
            <td class="bg_fb h_173 w_192">读写分离版数据库L3 </td>
            <td class="bg_fb h_173 w_236 text_left">独享数据库服务器+只读实例<br />4核心<br />50G普通盘<br />8G内存<br />10M独享带宽</td>
            <td class="bg_fb h_173 c_f5 w_265">¥56000/年</td>
            <td class="bg_fb h_173 w_294"></td>
        </tr>
        <tr>
            <td rowspan="2" class="h_47">安全加强</td>
            <td class="h_47" colspan="3">数据储存加密</td>
            <td class="h_47 c_f5">¥2000/年</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td class="h_47" colspan="3">多重数据备份</td>
            <td class="h_47 c_f5">¥4800/年</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td rowspan="6" class="h_47 bg_fb">商城</td>
            <td class="h_47 bg_fb" colspan="3">独立商城APP</td>
            <td class="h_47 c_f5 bg_fb">30000/永久</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_70 bg_fb" colspan="3">公众号代运营</td>
            <td class="h_70 c_f5 bg_fb">120000元/年  或<br />1%～10%销售额提成</td>
            <td class="h_70 c_f5 bg_fb"><div class="c_a1">商品详情页</div>3000元/300条(含5图片）</td>
        </tr>
        <tr>
            <td class="h_47 bg_fb" colspan="3">商城首页/分类页设计</td>
            <td class="h_47 c_f5 bg_fb">1000元/页</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_47 bg_fb" colspan="2" rowspan="3">会员人数上限</td>
            <td class="bg_fb  w_236">50000人</td>
            <td class="h_47 c_f5 bg_fb">￥200/年</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="bg_fb w_236">70000人</td>
            <td class="h_47 c_f5 bg_fb">￥500/年</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="bg_fb w_236">100000人</td>
            <td class="h_47 c_f5 bg_fb">￥700/年</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_47" rowspan="7">产品功能</td>
            <td class="h_47" colspan="3">打印模板</td>
            <td class="h_47 c_f5 ">￥100/张</td>
            <td class="h_47 "></td>
        </tr>
        <tr>
            <td class="h_47" colspan="2" rowspan="3">商品信息扩充</td>
            <td class="h_47" >新增500条</td>
            <td class="h_47 c_f5 ">￥1000</td>
            <td class="h_47 c_a1" rowspan="3">一次付费永久使用</td>
        </tr>
        <tr>
            <td class="h_47">新增1000条</td>
            <td class="h_47 c_f5 ">￥1800</td>
        </tr>
        <tr>
            <td class="h_47">新增2000条</td>
            <td class="h_47 c_f5 ">￥3000</td>
        </tr>
        <tr>
            <td class="h_47" colspan="2" rowspan="3">系统短信服务</td>
            <td class="h_47">2000条</td>
            <td class="h_47 c_f5">￥200</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td class="h_47">5300条</td>
            <td class="h_47 c_f5 ">￥500</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td class="h_47">11200条</td>
            <td class="h_47 c_f5 ">￥1000</td>
            <td class="h_47"></td>
        </tr>
        <tr>
            <td rowspan="6" class="h_47 bg_fb">客户成功</td>
            <td class="h_47 bg_fb" colspan="3">1对1财务专业咨询</td>
            <td class="h_47 c_f5 bg_fb">¥900/季度</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_47 bg_fb" colspan="2" rowspan="5">市场推广</td>
            <td class="h_47  bg_fb">logo设计</td>
            <td class="h_47 bg_fb c_f5" rowspan="5">￥1200/套</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_47  bg_fb">名片设计</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_47  bg_fb">海报设计</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_47  bg_fb">公司官网优质客户展示</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_47  bg_fb">视频宣传展示</td>
            <td class="h_47 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_98">金融服务</td>
            <td class="h_98" colspan="3">来肯白条(应收款垫资)，资金快速回笼；</td>
            <td class="h_98 c_a1 ">保证金 20000元（可退）<br />+服务费<span class="c_f5"> 2400/年起</span></td>
            <td class="h_98 c_a1">限经销加盟版以上客户<br />（你的客户白条支付，你全额收款）</td>
        </tr>
        <tr>
            <td rowspan="6" class="h_65 bg_fb">相关硬件</td>
            <td class="h_65 bg_fb" colspan="3">PDA</td>
            <td class="h_65 bg_fb c_f5">1200/台<span class="c_a1">（低配）</span><br />1600/台<span class="c_a1">（高配）</span></td>
            <td class="h_65 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_65 bg_fb" colspan="3">U盾</td>
            <td class="h_65 bg_fb c_f5">￥88/个</td>
            <td class="h_65 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_65 bg_fb" colspan="3">有线屏幕扫描枪</td>
            <td class="h_65 bg_fb c_f5">￥158/个</td>
            <td class="h_65 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_65 bg_fb" colspan="3">蓝牙扫描枪</td>
            <td class="h_65 bg_fb c_f5">￥318/个</td>
            <td class="h_65 bg_fb"></td>
        </tr>
        <tr>
            <td class="h_65 bg_fb" colspan="3">58mm蓝牙打印机</td>
            <td class="h_65 bg_fb c_f5">￥488/台</td>
            <td class="h_65 bg_fb"></td>
        </tr>
    </table>
</div>

