html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Microsoft YaHei";
    color: #565656;
}
/* 紫色的按钮开始 */
.btn-purple {
    background-color: #5860f9;
    font-weight: 500;
    color: #fff;
}

    .btn-purple:hover,
    .btn-purple:active,
    .btn-purple:focus {
        background-color: #5860ff;
        color: #fff;
    }

.btn-space {
    letter-spacing: 2px;
}
/* 紫色的按钮结束 */

/* 灰色按钮开始 */
.btn-gray {
    outline: none;
    background-color: #eaebfe;
    border-width: 0;
    opacity: 1 !important;
}

.btn_light {
    line-height: 30px;
    display: inline-block;
}

/*.btn-gray:hover,
.btn-gray:active,
.btn-gray:focus {
    background-color: #e3e3e3 ;
}*/

/* 灰色框按钮结束 */


/* 蓝色按钮开始 */
.btn-blue {
    background-color: #2287eb;
    color: #fff;
}

    .btn-blue:hover,
    .btn-blue:active,
    .btn-blue:focus {
        background-color: #0070c9;
        color: #fff;
    }
/* 蓝色按钮结束 */

.btn-round {
    padding-left: 1em;
    padding-right: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
}

.btn-huge {
    font-size: 2em;
    -webkit-border-radius: 1.5em;
    -moz-border-radius: 1.5em;
    border-radius: 1.5em;
    padding: 0.5em 1.5em;
    letter-spacing: 2px;
}

.form-group {
    position: relative;
}

    .form-group.icon-group .form-control {
        height: 40px;
        padding-left: 40px;
    }

    .form-group .form-control.error {
        border-color: #ed6c00;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .form-group .add-on {
        position: absolute;
        top: 5px;
        left: 5px;
    }

    .form-group .append {
        position: absolute;
        left: 102%;
        top: 10px;
        width: 100px;
    }

.required-tag {
    color: red;
}

/* 图标在上，描述文字在下的 logo */
.logo-describe {
    display: block;
    text-align: center;
}

    .logo-describe .logo {
        width: 60px;
        height: 60px;
    }

    .logo-describe .describe {
        display: block;
        font-size: 1.8em;
        font-weight: bold;
        color: #1a41d1;
    }

/* KA 申请页面开始 */
#apply_page {
    height: 100%;
    text-align: center;
}

    #apply_page:after {
        content: "";
        display: inline-block;
        width: 0;
        height: 100%;
        vertical-align: middle;
        text-align: center;
    }

    #apply_page .section {
        position: relative;
        margin-top: -100px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;
    }

        #apply_page .section .background {
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

            #apply_page .section .background img {
                width: 100%;
                height: 100%;
            }

    #apply_page .lk-panel {
        position: relative;
        padding: 4em 5em;
    }

        #apply_page .lk-panel .lk-panel-body {
            padding: 2em 4em 5em;
        }

    #apply_page .lk-panel-header {
        text-align: center;
        border-bottom: 1px solid #dde1e7;
        margin: 4em auto 0;
        padding-bottom: 1.2em;
    }

    #apply_page .section .logo {
        position: absolute;
        left: 50%;
        width: 3.5em;
        height: 3.5em;
        margin-left: -1.75em;
    }

        #apply_page .section .logo img {
            width: 100%;
            height: 100%;
        }

    #apply_page ul {
        padding: 0;
        margin: 0;
    }

        #apply_page ul li {
            list-style: none;
            height: 1.5em;
            line-height: 1.5em;
        }

    #apply_page .form-group.big-group .form-control {
        height: 50px;
    }

    #apply_page .form-group.big-group .add-on {
        top: 10px;
    }

    #apply_page .form-group.big-group .btn-block {
        height: 50px;
    }

    #apply_page #contact_section {
        width: 50em;
        margin-top: 1.5em;
    }

        #apply_page #contact_section .lk-panel {
            padding: 2em 6em;
        }

        #apply_page #contact_section .lk-panel-body {
            padding: 2em 7em 0;
        }

        #apply_page #contact_section .lk-panel-footer {
            padding-left: 8em;
            padding-bottom: 2em;
        }

        #apply_page #contact_section .logo {
            top: -0.4em;
        }

            #apply_page #contact_section .logo img {
                height: auto;
                width: 100%;
                margin-left: 3px;
            }

        #apply_page #contact_section .detail-group {
            margin-top: 2em;
        }

            #apply_page #contact_section .detail-group label {
                margin-bottom: 10px;
            }

        #apply_page #contact_section .form-action {
            margin-top: 2em;
        }

        #apply_page #contact_section .popover {
            width: 150px;
        }

        #apply_page #contact_section .popover-content span {
            color: #ed6c00 !important;
        }

@media screen and (max-height: 768px) {
    #apply_page #contact_section .logo img {
        margin-top: -3px;
        margin-left: 2px;
    }

    #apply_page #contact_section .lk-panel-header {
        margin-top: 3em;
        padding-bottom: 1em;
    }

    #apply_page #contact_section .lk-panel-body {
        padding-top: 1em;
        padding-bottom: 0.25em;
    }

    #apply_page #contact_section .form-action {
        margin-top: 1.3em;
    }

    #apply_page #contact_section .lk-panel-footer {
        padding-bottom: 1em;
    }

    #apply_page #contact_section .detail-group {
        margin-top: 1.5em;
        margin-bottom: 0;
    }
}

#apply_page #telephone_section {
    position: relative;
    width: 38em;
    margin-top: 2em;
}

    #apply_page #telephone_section .logo {
        top: -1.1em;
        height: 3em;
        margin-left: -1.6em;
    }

    #apply_page #telephone_section .lk-panel-header {
        margin-top: 1em;
    }

    #apply_page #telephone_section .lk-panel {
        padding: 4em 5em;
    }

    #apply_page #telephone_section .lk-panel-body {
        padding: 2em 4em 4em;
    }

    #apply_page #telephone_section .form-group + .form-group {
        margin-top: 1.3em;
    }

#apply_page #redirect_section {
    width: 40em;
    text-align: center;
}

    #apply_page #redirect_section .logo-describe {
        text-align: center;
    }

        #apply_page #redirect_section .logo-describe .logo {
            position: static;
            margin-left: auto;
            text-align: center;
        }

    #apply_page #redirect_section a {
        color: #e10000;
        text-decoration: underline;
    }

    #apply_page #redirect_section .lead {
        margin-top: 2em;
    }

/* 对IE8, IE7 以下对logo 的处理开始 */
#apply_page .ie78-fixed .logo-normal {
    display: none;
}

#apply_page .ie78-fixed .logo-fixed {
    margin-top: -37px;
}

    #apply_page .ie78-fixed .logo-fixed img {
        width: 100px;
        height: 100px;
    }
/* 对IE8, IE7 以下对logo 的处理结束 */

/* IE7 上垂直居中失效，直接加 80px margin */
* + html #apply_page .section {
    margin-top: 80px;
}

/* IE7 上不支持 box-sizing */
* + html #apply_page .form-group.big-group .form-control {
    padding: 0;
    line-height: 50px;
    text-indent: 40px;
}

* + html #apply_page .form-group.big-group .add-on {
    top: 11px;
}

.popover-content {
    min-width: 200px;
}
/* KA 申请页面结束 */


/* KA 展示页面开始 */
#custom_page {
    height: 100%;
    font-size: 0;
    font-family: "Microsoft YaHei";
}

    #custom_page .btn-confirm {
        font-size: 17px;
        padding: 6px 22px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        background-color: #2287eb;
        color: #fff;
    }

        #custom_page .btn-confirm:hover,
        #custom_page .btn-confirm:focus {
            background-color: #0070c9;
        }

        #custom_page .btn-confirm:active {
            background-color: #2046fa;
        }

        #custom_page .btn-confirm.btn-huge {
            font-size: 2em;
            letter-spacing: 2px;
            padding: 0.5em 1.2em;
            -webkit-border-radius: 1.8em;
            -moz-border-radius: 1.8em;
            border-radius: 1.8em;
        }

    #custom_page #content_section .collapse-item {
        position: relative;
        z-index: 4;
        transition: margin-top 1s;
    }

    /* 功能概述块开始 */
    #custom_page .collapse-section {
        font-size: 14px;
        position: relative;
        min-height: 650px;
        height: 100%;
        overflow: hidden;
        top: 0;
        transition: all 1s;
        z-index: 4;
    }

        #custom_page .collapse-section.expand {
            margin-bottom: -10em;
        }

        #custom_page .collapse-section .section-bg {
            height: 100%;
            width: 100%;
            -webkit-transition: transform 2s;
            -moz-transition: transform 2s;
            -o-transition: transform 2s;
            transition: transform 2s;
        }

    #custom_page .section-summary {
        position: absolute;
        padding-top: 13em;
        bottom: 0;
        left: 50%;
        width: 650px;
        margin-left: -325px;
        text-align: center;
        color: #fff;
        letter-spacing: 1px;
    }

        #custom_page .section-summary .title {
            letter-spacing: 3px;
            font-size: 3.8em;
            font-weight: 500;
        }

        #custom_page .section-summary .desc {
            margin-top: 1em;
            font-size: 1.7em;
        }

        #custom_page .section-summary .feature-list {
            margin: 8em 0 0;
        }

            #custom_page .section-summary .feature-list .item {
                display: inline-block;
                margin: 0 4em;
                list-style-type: none;
            }

                #custom_page .section-summary .feature-list .item img {
                    width: 40px;
                    height: 40px;
                }

                #custom_page .section-summary .feature-list .item p {
                    font-size: 1.2em;
                    color: #fff;
                    margin-top: 5px;
                }

        #custom_page .section-summary .footer {
            position: absolute;
            bottom: 7em;
            left: 0;
            right: 0;
        }


            #custom_page .section-summary .footer .expand {
                margin-top: 2em;
                -webkit-transition: all 2s;
                -moz-transition: all 2s;
                -o-transition: all 2s;
                transition: all 2s;
                opacity: 1;
                overflow: hidden;
            }

    #custom_page .collapse-section .footer .expand a img {
        position: relative;
        -webkit-transition: all 1.5s;
        -moz-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s;
    }

    #custom_page .collapse-section.expand .footer .expand img {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    #custom_page .section-summary .footer .expand p {
        font-size: 17px;
        color: #d1d1d1;
        position: relative;
        top: 0;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
        opacity: 1;
    }

        #custom_page .section-summary .footer .expand p span {
            cursor: pointer;
        }

    #custom_page .collapse-section.expand .footer .expand p {
        top: -2em;
        opacity: 0;
    }

    #custom_page .section-summary .footer .expand img {
        margin-top: 0.5em;
        width: 2.5em;
        height: 2.5em;
    }

@media screen and (max-height: 899px) {
    #custom_page .section-summary {
        padding-top: 6em;
    }
}

@media screen and (max-height: 768px) {
    #custom_page .section-summary {
        padding-top: 5em;
    }

        #custom_page .section-summary .feature-list {
            margin-top: 4em;
        }
}

/* 功能概述块结束 */

/* 功能块展开开始 */
#custom_page .expand-section {
    font-size: 14px;
    position: relative;
    height: 0;
    transition: height 1s;
    z-index: 4;
    overflow: hidden;
}

    #custom_page .expand-section.show-section {
        height: auto;
    }

    #custom_page .expand-section .expand-wrapper {
        padding: 6em 0;
    }

    #custom_page .expand-section .title {
        display: block;
        color: #454545;
        letter-spacing: 2px;
        font-size: 2.5em;
        font-weight: normal;
        text-align: center;
        background-color: #fafafa;
    }

    #custom_page .expand-section .close-btn {
        position: absolute;
        top: 1.5em;
        left: 50%;
        margin-left: -1.25em;
        width: 2.5em;
        height: 2.5em;
        cursor: pointer;
        opacity: 0;
        -webkit-transition: opacity 0.8s;
        -moz-transition: opacity 0.8s;
        -o-transition: opacity 0.8s;
        transition: opacity 0.8s;
    }

    #custom_page .expand-section.show-section .close-btn {
        opacity: 1;
        cursor: pointer;
    }

    #custom_page .expand-section .close-btn img {
        width: 100%;
        height: 100%;
    }


    #custom_page .expand-section.show-section.affix .close-btn {
        position: fixed;
        top: 5em;
    }

    #custom_page .expand-section .footer {
        margin-top: 4em;
        text-align: center;
    }
/* 功能块展开结束 */

/* 树形结构开始 */
#custom_page .tree-structure {
    overflow: hidden;
    text-align: center;
}

    #custom_page .tree-structure .root {
        font-size: 1.4em;
        font-weight: normal;
        color: #848484;
    }

    #custom_page .tree-structure .leaf {
        display: inline-block;
    }

    #custom_page .tree-structure .separation {
        position: relative;
        margin: 30px auto 15px;
    }

        #custom_page .tree-structure .separation .top {
            position: absolute;
            left: 50%;
            width: 1px;
            height: 25px;
            top: -25px;
            background-color: #030000;
        }

        #custom_page .tree-structure .separation .horizontal {
            height: 1px;
            width: 100%;
            background-color: #030000;
        }

    #custom_page .tree-structure .node {
        display: inline-block;
    }

        #custom_page .tree-structure .node.left {
            float: left;
        }

        #custom_page .tree-structure .node.right {
            float: right;
        }

        #custom_page .tree-structure .node .leaf {
            display: inline-block;
            vertical-align: top;
            height: 80px;
            width: 80px;
            text-align: center;
        }

    #custom_page .tree-structure .leaf .icon {
        display: inline-block;
        height: 30px;
    }

    #custom_page .tree-structure .node .leaf .info {
        display: block;
        margin-top: 5px;
        color: #848484;
        font-size: 1em;
    }

    #custom_page .tree-structure .node .leaf.children {
        width: 120px;
        height: 120px;
    }

        #custom_page .tree-structure .node .leaf.children .icon {
            width: 80px;
            height: 80px;
        }
/* 树形结构结束 */

/* 图文列表开始 */
#custom_page .img-article {
}

    #custom_page .img-article .article-title {
        display: block;
        color: #000;
        font-size: 1.8em;
        font-weight: normal;
    }

    #custom_page .img-article .article-subtitle {
        display: block;
        color: #666;
        font-size: 1.2em;
    }

    #custom_page .img-article .article-content {
        margin-top: 2em;
        line-height: 1.8em;
        letter-spacing: 1px;
    }

    #custom_page .img-article .img {
        width: 100%;
    }
/* 图文列表结束 */

#custom_page .no-padding {
    padding: 0 !important;
}

/* 组织机构列表开始 */
#custom_page .group-structure {
    text-align: center;
    overflow: hidden;
}

    #custom_page .group-structure ul {
        margin: 0;
        padding: 0;
    }

        #custom_page .group-structure ul li {
            list-style-type: none;
        }

    #custom_page .group-structure .node {
        display: inline-block;
        background-color: #383838;
        width: 120px;
        padding-top: 8px;
        padding-bottom: 8px;
        -webkit-border-radius: 0.25em;
        -moz-border-radius: 0.25em;
        border-radius: 0.25em;
        color: #fff;
    }

    #custom_page .group-structure .separate-line {
        position: relative;
        height: 30px;
        margin: auto;
    }

        #custom_page .group-structure .separate-line .top {
            position: absolute;
            height: 30px;
            left: 50%;
            bottom: 0;
            width: 1px;
            background-color: #383838;
        }

        #custom_page .group-structure .separate-line .horizontal {
            position: absolute;
            width: 100%;
            bottom: 0;
            height: 1px;
            background-color: #383838;
        }

    #custom_page .group-structure .children {
        position: relative;
        margin-top: 15px;
    }

    #custom_page .group-structure .group-node {
        position: absolute;
        left: 0;
        width: 120px;
        color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #383838;
        -webkit-border-radius: -0.25em;
        -moz-border-radius: -0.25em;
        border-radius: 0.25em;
    }

        #custom_page .group-structure .group-node .horizontal {
            position: absolute;
            top: 50%;
            height: 1px;
            width: 200px;
            left: 100%;
            background-color: #383838;
        }

    #custom_page .group-structure .sub-node {
        display: inline-block;
        width: 440px;
        padding-top: 8px;
        padding-bottom: 8px;
        background-color: #383838;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

        #custom_page .group-structure .sub-node .leaf {
            position: relative;
            display: inline-block;
            color: #fff;
            width: 33.3333%;
        }

    #custom_page .group-structure .leaf .top-line {
        position: absolute;
        left: 50%;
        height: 23px;
        bottom: 100%;
        width: 1px;
        background-color: #383838;
    }

    #custom_page .group-structure .small-sub {
        width: 330px;
    }

    #custom_page .group-structure .mini-sub {
        width: 248px;
        margin-left: -84px;
    }

        #custom_page .group-structure .small-sub .leaf,
        #custom_page .group-structure .mini-sub .leaf {
            width: 25%;
        }

/* 组织机构列表结束 */

/* 导航栏开始 */
#custom_page .nav {
    height: 60px;
    line-height: 60px;
    background-repeat: repeat;
    background-color: #161616;
}

#custom_page .navbar-brand {
    height: 60px;
    line-height: 60px;
    padding: 0 0 0 30px;
}

#custom_page .nav .navbar-nav {
    padding-right: 60px;
    height: 60px;
    line-height: 60px;
    margin-right: 0;
}

    #custom_page .nav .navbar-nav li {
        height: 100%;
        margin-right: 41px;
    }
     @media screen and (max-width: 1500px) {
    #custom_page .nav .navbar-nav li {
        margin-right: 34px;
    }
}
 @media screen and (max-width: 1360px) {
    #custom_page .nav .navbar-nav li {
        margin-right: 28px;
    }
}
    @media screen and (max-width: 1280px) {
    #custom_page .nav .navbar-nav li {
        margin-right: 24px;
    }
     #custom_page .nav .navbar-nav li a {
            font-size: 12px;
        }
}
      @media screen and (max-width: 1152px) {
    #custom_page .nav .navbar-nav li {
        margin-right: 18px;
    }
}
      @media screen and (max-width: 1024px) {
    #custom_page .nav .navbar-nav li {
        margin-right: 14px;
    }
}
@media screen and (max-width: 1280px) {

    #custom_page .nav .navbar-nav {
        padding-right: 30px;
    }
}

@media screen and (max-width: 1050px) {
    #custom_page .nav .navbar-nav li {
        margin-right: 12px;
    }

        #custom_page .nav .navbar-nav li a {
            font-size: 10px;
        }
}
@media screen and (max-width: 900px) {
    #custom_page .nav .navbar-nav li {
        margin-right: 6px;
    }
}

#custom_page .nav .navbar-nav li.concat {
    margin-left: 15px;
}

#custom_page .nav .navbar-nav .concat a {
    padding-left: 5px;
    padding-right: 5px;
}

#custom_page .nav .navbar-nav a {
    margin: 15px auto;
    height: 30px;
    padding: 0;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
}

    #custom_page .nav .navbar-nav a:link {
        text-decoration: none;
    }

#custom_page .nav .navbar-nav li.active a {
    background-color: #2693ff !important;
    color: #fff !important;
}

#custom_page .nav .navbar-nav li:hover a,
#custom_page .nav .navbar-nav li:active a,
#custom_page .nav .navbar-nav li:focus a {
    color: #38adff;
    background-color: transparent;
}

#custom_page .nav .navbar-nav li:hover img,
#custom_page .nav .navbar-nav li:active img,
#custom_page .nav .navbar-nav li:focus img {
    background-color: #38adff;
}

#custom_page .nav .navbar-nav img {
    margin-top: -4px;
    margin-right: -5px;
    height: 32px;
    width: 32px;
    background-color: #fff;
}
/* 导航栏结束 */


/* 轮播开始 */
#custom_page #carousel_section {
    position: relative;
    z-index: 1;
    font-size: 14px;
}

    #custom_page #carousel_section .carousel-control {
        position: relative;
        background-color: transparent;
        opacity: 0.4;
        width: 97px;
        height: 97px;
        text-align: center;
        top: 50%;
        margin: -48px 50px 0;
    }


#carousel_section .carousel-control.left {
    display: none;
}

#carousel_section .carousel-control.right {
    display: none;
}

#carousel_section .carousel-inner .item {
    height: 650px;
}

    #carousel_section .carousel-inner .item > img {
        width: 100%;
        height: 100%;
    }

#carousel_section .banner-title {
    font-family: "Microsoft YaHei";
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
}

#carousel_section .banner-desc {
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 1.5em;
    font-size: 1.2em;
    line-height: 1.8em;
}

#carousel_section .banner-info .btn {
    margin-top: 1em;
    font-size: 1.7em;
    padding: 0.4em 1em;
    -webkit-border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    border-radius: 1.1em;
}

#carousel_section .banner-desc .important-text {
    font-size: 2em;
}

#carousel_section .carousel-indicators li {
    width: 15px;
    height: 15px;
    border-width: 0;
    background-color: #808080;
}

    #carousel_section .carousel-indicators li + li {
        margin-left: 8px;
    }

    #carousel_section .carousel-indicators li.active {
        background-color: transparent;
        width: 19px;
        height: 19px;
        border-width: 3px;
    }

/* banner1 */
#carousel_section .banner1 .carousel-caption {
    position: absolute;
    top: 50%;
    right: 15%;
    margin-top: -200px;
    height: 450px;
    left: 10%;
    text-align: right;
}

    #carousel_section .banner1 .carousel-caption > img {
        height: 100%;
    }


#carousel_section .banner1 .banner-info {
    position: absolute;
    top: 6em;
    right: 18em;
}


    #carousel_section .banner1 .banner-info .banner-title {
        font-weight: bold;
    }

    #carousel_section .banner1 .banner-info .banner-desc {
        font-size: 1.5em;
        font-weight: normal;
    }


    #carousel_section .banner1 .banner-info .btn {
        margin-top: 1em;
    }

#carousel_section .banner2 .banner-info {
    position: absolute;
    right: 8em;
    bottom: 6em;
}

#carousel_section .banner2 .banner-desc {
    margin-top: 2em;
    letter-spacing: 2px;
}


#carousel_section .banner3 .banner-info {
    position: absolute;
    right: 35%;
    bottom: 5em;
}

#carousel_section .banner3 .banner-desc {
    font-weight: normal;
    font-size: 1.2em;
}
/* 对于屏幕宽度小于 1440 的处理 */
@media screen and (max-width: 1440px) {
    #carousel_section .banner3 .carousel-caption {
        right: 10%;
        left: 12%;
    }
}
/* 对于屏幕宽度在 1366 的处理 */
@media screen and (max-width: 1367px) {
    #carousel_section .banner1 .banner-info {
        right: 10em;
    }

    .small-log {
        padding: 10px 13%;
    }
}

/* 对于屏幕宽度小于 1366 的处理开始 */

@media screen and (max-width: 1355px) {
    #custom_page .carousel-inner .item {
        height: 600px;
    }

    #custom_page #carousel_section .banner-title {
        font-size: 3em;
    }

    #carousel_section .banner1 .banner-info {
        right: 2em;
    }

    #custom_page #carousel_section .banner1 .banner-desc {
        font-size: 1.2em;
    }

    #custom_page #carousel_section .banner1 .carousel-caption {
        margin-top: -200px;
        right: 16%;
        height: 400px;
    }

    #custom_page #carousel_section .banner2 .banner-info {
        right: 2em;
    }
}

/* 轮播结束 */

/* 五种定制模式开始 */
#custom_page #custom_mode_section {
    font-size: 14px;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #f0f0f0;
    text-align: center;
    letter-spacing: 2px;
}

    #custom_page #custom_mode_section .title {
        font-family: "Microsoft YaHei";
        font-size: 3em;
        font-weight: lighter;
        color: #555;
    }

    #custom_page #custom_mode_section .desc {
        margin: 0.25em 0 0;
        font-size: 1.5em;
        color: #9f9f9f;
    }
/* 五种定制模式结束 */

/* 联锁加盟开始 */
/* 联锁加盟结束 */

/* 联锁加盟展开开始 */
#custom_page #franchisees_expand_section {
    padding-left: 6em;
    padding-right: 6em;
    background-color: #fafafa;
    overflow: hidden;
}

@media screen and (max-width: 1024px) {
    #custom_page #franchisees_expand_section {
        padding-left: 0;
        padding-right: 0;
    }
}

#franchisees_expand_section .tree-structure {
    margin: 2em auto 0;
    width: 700px;
}

#franchisees_expand_section .article-list {
    margin-top: 4em;
}

#franchisees_expand_section .img-article .article {
    margin-top: 3em;
    margin-left: 6em;
    width: 320px;
}

#franchisees_expand_section .img-article .separat-line {
    height: 2px;
    width: 4em;
    background-color: #0070c9;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: -3em;
}

#franchisees_expand_section .img-article .article.text-right {
    margin-left: auto;
    margin-right: 6em;
}

#franchisees_expand_section .img-article .article-content {
    font-size: 20px;
    line-height: 1.5em;
}

#franchisees_expand_section .img-article .article.text-right .separat-line {
    margin-left: auto;
    margin-right: -3em;
}

#custom_page #franchisees_expand_section .footer {
    margin-top: 8em;
}
/* 联锁加盟展开结束 */

/* 总代开始 */
#custom_page #agent_section .feature-list .bigger img {
    width: 44px;
    height: 44px;
}
/* 总代结束 */

/* 总代展开开始 */
#agent_expand_section {
    background-color: #fafafa;
}

    #agent_expand_section .relation {
        width: 650px;
        margin: 4em auto 0;
    }

        #agent_expand_section .relation img {
            width: 100%;
        }

    #agent_expand_section .agent-article-list {
        width: 900px;
        margin: 4em auto 0;
    }

        #agent_expand_section .agent-article-list .article-item {
            position: relative;
            margin: 2em auto;
        }

        #agent_expand_section .agent-article-list .article-number {
            position: absolute;
            bottom: 0;
            width: 100px;
            height: 200px;
        }

            #agent_expand_section .agent-article-list .article-number img {
                height: 200px;
            }

        #agent_expand_section .agent-article-list .article-content {
            margin-left: 180px;
        }

        #agent_expand_section .agent-article-list .article-title {
            margin-top: 140px;
            margin-bottom: 20px;
            padding-right: 2em;
        }

        #agent_expand_section .agent-article-list .article-icon {
            float: right;
            height: 180px;
            margin-top: -120px;
        }

        #agent_expand_section .agent-article-list .article-title-content {
            letter-spacing: 2px;
            vertical-align: -50px;
            color: #252525;
            font-size: 2em;
        }

        #agent_expand_section .agent-article-list .article-content p {
            padding-right: 4em;
            color: #545454;
            line-height: 1.5em;
            font-size: 20px;
            letter-spacing: 1px;
        }
/* 总代展开结束 */

/* 多门店开始 */
/* 多门店结束 */

/* 多门店展开开始 */
#store_expand_section {
    background-color: #fafafa;
}

    #store_expand_section .group-structure {
        width: 850px;
        margin: 4em auto 0;
        padding-left: 100px;
    }

    #store_expand_section .agent-article-list {
        margin: 12em 8em 0;
        overflow: hidden;
    }

@media screen and (max-width: 1279px) {
    #store_expand_section .agent-article-list {
        margin: 8em 0;
    }
}

#store_expand_section .agent-article-list .article {
    position: relative;
    height: 400px;
    overflow: hidden;
}

    #store_expand_section .agent-article-list .article + .article {
        margin-top: 6em;
    }

#store_expand_section .agent-article-list .picture {
    float: left;
    width: 50%;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
}

    #store_expand_section .agent-article-list .picture img {
        height: 100%;
        max-width: 100%;
    }

#store_expand_section .agent-article-list .content-section {
    float: left;
    width: 50%;
    padding-left: 4em;
    padding-right: 4em;
}

    #store_expand_section .agent-article-list .content-section .content {
        display: inline-block;
        width: 450px;
        height: 350px;
        margin-top: 25px;
    }

#store_expand_section .agent-article-list .header {
    position: relative;
    padding-top: 80px;
}

#store_expand_section .agent-article-list .number {
    position: absolute;
    height: 100px;
    right: 10px;
    top: 0;
}

    #store_expand_section .agent-article-list .number img {
        height: 100%;
    }

#store_expand_section .agent-article-list .header .subtitle {
    color: #a0a0a0;
    letter-spacing: 1px;
    font-size: 1.8em;
}

#store_expand_section .agent-article-list .header .title {
    font-size: 2.5em;
    letter-spacing: 1px;
    color: #000;
    text-align: left;
}

#store_expand_section .agent-article-list .content p {
    margin-top: 2em;
    line-height: 1.5em;
    font-size: 20px;
    letter-spacing: 1px;
    color: #545454;
}

#custom_page #store_expand_section .footer {
    margin-top: 8em;
}
/* 多门店展开结束 */

/* 商城开始 */
/* 商城结束 */

/* 商城展开开始 */
#mall_expand_section {
    background-color: #fafafa;
}

    #mall_expand_section .relation {
        width: 700px;
        margin: 4em auto 0;
    }

        #mall_expand_section .relation img {
            width: 100%;
        }

    #mall_expand_section .mall-article-list {
        margin: 5em auto 0;
        width: 900px;
    }

        #mall_expand_section .mall-article-list .article {
            height: 300px;
            margin-top: 12em;
        }

        #mall_expand_section .mall-article-list .picture {
            float: left;
            width: 50%;
            height: 300px;
            padding-left: 2em;
            padding-right: 2em;
        }

            #mall_expand_section .mall-article-list .picture img {
                margin-top: -6em;
                height: 100%;
            }

        #mall_expand_section .mall-article-list .content-area {
            position: relative;
            float: left;
            width: 50%;
            height: 300px;
            padding-left: 2em;
            padding-right: 2em;
        }

        #mall_expand_section .mall-article-list .content {
            position: absolute;
            bottom: 0;
            right: 4em;
            width: 330px;
        }

        #mall_expand_section .mall-article-list .title {
            font-size: 2.5em;
            text-align: left;
            letter-spacing: 2px;
            color: #000;
        }

        #mall_expand_section .mall-article-list .content p {
            margin-top: 1em;
            text-align: left;
            line-height: 1.5em;
            font-size: 20px;
            color: #545454;
            letter-spacing: 1px;
        }

/* 商城展开结束 */

/* 商业开始 */
/* 商业结束 */

/* 商业展开开始 */
#business_expand_section {
    background-color: #fafafa;
}

    #business_expand_section .relation {
        width: 450px;
        margin: 4em auto 0;
    }

        #business_expand_section .relation img {
            width: 100%;
        }

    #business_expand_section .business-article-list {
        margin-top: 4em;
    }

        #business_expand_section .business-article-list .article {
            height: 400px;
            overflow: hidden;
        }

            #business_expand_section .business-article-list .article + .article {
                margin-top: 4em;
            }

        #business_expand_section .business-article-list .picture {
            float: left;
            width: 50%;
            margin-top: 100px;
            padding-left: 2em;
            padding-right: 0;
        }

            #business_expand_section .business-article-list .picture img {
                height: 100%;
                width: 100%;
            }

        #business_expand_section .business-article-list .content-area {
            float: left;
            position: relative;
            width: 50%;
            height: 500px;
            padding-left: 2em;
            padding-right: 8em;
        }

        #business_expand_section .business-article-list .content {
            display: inline-block;
            width: 280px;
            margin-top: 8em;
        }

        #business_expand_section .business-article-list .header {
            position: relative;
        }

            #business_expand_section .business-article-list .header .number {
                position: absolute;
                z-index: 1;
                color: #ebebeb;
                font-size: 15em;
                bottom: -40px;
                left: -40px;
                font-weight: 900;
            }

        #business_expand_section .business-article-list .title {
            position: relative;
            z-index: 3;
            font-size: 3em;
            font-weight: 300;
            color: #252525;
            text-align: right;
            background-color: transparent;
        }

        #business_expand_section .business-article-list .subtitle {
            color: #1e3dcd;
            font-size: 1.4em;
        }

        #business_expand_section .business-article-list .content p {
            margin-top: 1em;
            text-align: left;
            font-size: 20px;
            line-height: 1.5em;
            color: #6e6e6e;
        }

        #business_expand_section .business-article-list .article-right .content-area {
            padding-right: 0;
            padding-left: 8em;
        }

        #business_expand_section .business-article-list .article-right .picture {
            padding-left: 0;
            padding-right: 2em;
        }

        #business_expand_section .business-article-list .article-right .number {
            left: 60%;
        }

        #business_expand_section .business-article-list .article-right .title {
            text-align: left;
        }

#custom_page #business_expand_section .footer {
    margin-top: 8em;
}
/* 商业展开结束 */

/* 诉求开始 */
#custom_page #appeal_section {
    transition: margin-top 1s;
    height: 450px;
    min-height: 0;
}

    #custom_page #appeal_section .section-summary {
        top: 0;
        padding-top: 6.5em;
    }

#custom_page #apply_page .section-summary .title {
    letter-spacing: 3px;
}

#custom_page #appeal_section .title {
    font-size: 3em;
    color: #343434;
}

#custom_page #appeal_section .desc {
    color: #5c5c5c;
}

#custom_page #appeal_section .btn {
    font-size: 1.8em;
    padding: 0.4em 0.8em;
    -webkit-border-radius: 1.6em;
    -moz-border-radius: 1.6em;
    border-radius: 1.6em;
}
/* 诉求结束 */

/* 页脚开始 */
#custom_page #footer {
    font-size: 14px;
    background-repeat: repeat;
    background-color: #242424;
}

    #custom_page #footer .content {
        width: 900px;
        padding: 1.5em 0;
        margin: 0 auto;
        overflow: hidden;
    }

    #custom_page #footer .logo {
        float: left;
        margin-top: -24px;
        width: 300px;
        text-align: right;
        color: #fff;
    }

        #custom_page #footer .logo img {
            height: 110px;
            margin-right: 2em;
        }

    #custom_page #footer .sale {
        float: left;
        width: 300px;
        padding-left: 25px;
        padding-right: 50px;
        border: 0 solid #171717;
        border-left-width: 1px;
        border-right-width: 1px;
        color: #fff;
    }

        #custom_page #footer .sale h4 {
            font-size: 1em;
            font-weight: normal;
        }

        #custom_page #footer .sale p {
            font-size: 0.8em;
            line-height: 1.8em;
            color: #7a7a7a;
        }

    #custom_page #footer .contact {
        float: left;
        padding-left: 25px;
        width: 300px;
    }

        #custom_page #footer .contact h4 {
            font-size: 1em;
            font-weight: normal;
            color: #fff;
        }

        #custom_page #footer .contact ul {
            margin: 0;
            padding: 0;
        }

            #custom_page #footer .contact ul li {
                line-height: 1.8em;
                list-style-type: none;
                font-size: 0.8em;
            }

        #custom_page #footer .contact li img {
            height: 1.5em;
        }

    #custom_page #footer .copyright {
        text-align: center;
        padding: 4px 0 4px 0;
        background-color: #1b1b1b;
        font-size: 0.8em;
    }

/* 页脚结束 */
/* KA 展示页面结束 */
