/*共同内容的CSS样式*/
ul, li, h1, h2, h3, h4, h5, h6, p, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a:active {
    border: none;
    outline: none;
    text-decoration: none;
}

* {
    font-family: 'Microsoft YaHei';
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.content {
    position: relative;
    margin: 0 auto;
    min-width: 980px;
    padding-bottom: 30px;
    overflow-y: hidden;
}

.container {
    padding-bottom: 40px;
}
/*内容体样式*/
/*title样式*/
.title {
    display: block;
    width: 100%;
    height: auto;
    padding: 20px 0 10px;
}

    .title img {
        margin-top: -8px;
        margin-right: 10px;
    }

    .title .title-font {
        display: inline-block;
        margin: 0px;
        font-size: 25px;
        color: #019e97;
        letter-spacing: 1px;
    }
/*title样式*/

/*各种字体样式CSS*/
.green {
    color: #019e97;
    text-decoration: none;
}

.original-price {
    text-decoration: line-through;
}
/*价格大字样式*/
.price-font {
    color: #019e97;
    font-size: 24px;
    font-weight: lighter;
}
/*价格大字样式*/
.little-font {
    font-size: 12px;
    color: #939393;
    font-weight: lighter;
}

.textCenter {
    text-align: center;
}
/*各种字体样式CSS*/

/*各种按钮，链接的样式*/
.submitBtn {
    margin-top: 30px;
    background-color: #019E97;
    border: none;
    color: #fff;
    width: 150px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
}
    /*最下面的绿色提交按钮的CSS样式*/
    .submitBtn:hover {
        background-color: #1bbc9b;
    }

.removeBtn {
    height: 26px;
    line-height: 26px;
    width: 96px !important;
}
    /*删除按钮的CSS样式*/
    .removeBtn:hover {
        background-color: #019e97;
        color: #fff;
    }

select {
    outline: none;
}
/*共同内容的CSS样式*/


/*----购物页面buy的CSS样式-----*/
/*左边表单的CSS样式*/
.menu {
    float: left;
    width: 240px;
    /*border: 1px solid #DDDDDD;
    border-top: 2px solid #019E97;*/
    letter-spacing: 1px;
}

.sorted-message {
    text-align: center;
    color: #019E97;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    font-weight: lighter;
    padding: 5px 0;
}
/*列表中分类列表的样式*/
.grey {
    background-color: #F7F7F7;
}
/*背景色为灰色的部分CSS*/

/*左边表单的CSS样式*/
.serve {
    line-height: 45px;
    font-size: 16px;
    color: #FFF;
    font-weight: lighter;
    text-indent: 17px;
    cursor: pointer;
    padding-left: 10px;
    background-color: #009F97;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sider-menu {
    background-color: #F7F7F7;
    border-radius: 5px;
}

/*服务类列表的CSS样式*/
.serve-menu {
    height: auto;
}

    .serve-menu a {
        height: 45px;
        line-height: 45px;
        border-top: 1px solid #C4E5E4;
        display: block;
        text-decoration: none;
        font-size: 15px;
        color: #494849;
        text-indent: 40px;
        padding-left: 30px;
        cursor: pointer;
    }

a.active {
    color: #019e97;
    background-color: #DDEDED;
    padding-left: 17px;
}

.hr_active {
    height: 15px;
    border-left: 3px solid #009F97;
    display: inline;
    margin-right: 10px;
}
/*左边表单的CSS样式*/

/*主要内容样式*/
.main-content {
    float: right;
    width: 720px;
}

.content-table {
    width: 100%;
    border-top: 2px solid #019E97;
}

.content-thead td {
    padding: 10px;
    font-size: 16px;
}

.content-tbody > tr > td {
    padding: 15px 10px;
    border-bottom: 1px solid #C7C7C7;
}

    .content-tbody > tr > td > img {
        width: 80px;
        height: 80px;
    }
/*产品列表样式*/
.project-name {
    font-size: 14px;
    padding: 10px 0;
}

    .project-name > a > span {
        color: #019e97;
    }

/*统一小字体样式*/
.standard-font {
    display: inline-block;
    margin-bottom: 5px;
}
/*规则样式*/
.years-font {
    display: inline-block;
    margin-bottom: 5px;
    text-indent: 2px;
}
/*年份样式*/
.project-select {
    width: 90px !important;
    outline: none;
    font-size: 12px;
}

/*数量列表样式*/
.numberTd {
    width: 100px;
}

    .numberTd a, .numberTd input {
        float: left;
        width: 17px;
        text-decoration: none;
        color: #686868;
        border: 1px solid #474747 !important;
        margin: 0;
        text-align: center;
    }

.number {
    line-height: 14px !important;
    width: 32px !important;
    height: 22px !important;
    border-left: none !important;
    border-right: none !important;
}
/*数量列表样式*/
.buy-btn {
    float: right;
    display: inline-block;
    width: 116px;
    border: 1px solid #019E97 !important;
    text-align: center;
    text-decoration: none;
    color: #019E97;
    font-size: 14px;
}
/*加入购物车和删除样式*/
.add-buy {
    height: 36px;
    line-height: 36px;
}

    .add-buy:hover {
        background-color: #019e97;
        color: #fff;
        border: 1px solid #019E97;
    }
/*加入购物车按钮样式*/
.remove-buy {
    height: 26px;
    line-height: 26px;
}
/*删除按钮样式*/
/*主要内容样式*/
/*----购物页面的CSS样式----*/


/*----购物历史buyHistory的CSS样式----*/
.order-number td {
    font-size: 14px !important;
    border-bottom: 1px solid #CCCCCC;
}

.buyHistory-tr {
    color: #4e4e4e;
}

    .buyHistory-tr td {
        font-size: 13px;
        padding: 10px;
        letter-spacing: .1em;
    }
/*----购物历史buyHistory的CSS样式----*/


/*----基础服务升级baseServicesToUpgrade的CSS样式----*/
.service-title-tr td {
    border-bottom: 1px solid #BFBFBF;
}
/*加下边框*/
.baseService td {
    border-bottom: none;
}
/*去除产品名称行的下边框*/
.delelateBtn {
    float: right;
    display: inline-block;
    width: 96px;
    height: 24px;
    line-height: 22px;
    border: 1px solid #019E97;
    text-align: center;
    text-decoration: none;
    color: #019E97;
    font-size: 14px;
}

    .delelateBtn:hover {
        background-color: #019E97;
        color: #fff;
        border: 1px solid #019E97;
    }
/*删除按钮*/
.propertySelect {
    width: 85px;
    color: #019E97;
}
/*产品属性的select的CSS样式*/
.yearSelct {
    width: 53px;
}
/*选择年份的select的CSS样式*/
/*----基础服务升级baseServicesToUpgrade的CSS样式----*/


/*----订单中心orderCenter的CSS样式----*/
.payBtn {
    border: 1px solid #019e97 !important;
    line-height: 24px !important;
    font-size: 14px;
}

.cancelBtn {
    background-color: #fff !important;
    border: 1px solid #019e97 !important;
    color: #019e97 !important;
    line-height: 24px !important;
    cursor: pointer;
}

    .cancelBtn:hover {
        background-color: #019e97 !important;
        color: #fff !important;
    }
/*取消按钮的样式和鼠标经过的时候样式*/
.orderCenter-table > tbody > tr > td {
    padding: 25px 10px;
    border-top: 1px dashed #d1d6e2;
    font-size: 16px;
    text-align: center;
    color: #6e6e6e;
}

    .orderCenter-table > tbody > tr > td a {
        color: #333;
    }

.orderCenter-table > tbody > tr > .price {
    color: #f7645a;
}

.orderCenter-table > tbody > tr > td .cancel_btn {
    padding: 5px 15px;
    color: #f7645a;
    border: 1px solid #f7645a;
    border-radius: 5px;
    margin-right: 10px;
}

.orderCenter-table > tbody > tr > td .pay_btn {
    color: #fff;
    background-color: #f7645a;
    padding: 5px 15px;
    border-radius: 5px;
}
/*订单中心内容的列样式*/
/*底部统计行的样式*/
.statistics > span {
    font-size: 18px;
}

.cancel-money {
    color: #828282;
}

.wait-money {
    color: #ff833d;
}
/*底部统计行的样式*/
/*----订单中心orderCenter的CSS样式----*/


/*----订单详情orderDetail的CSS样式----*/
.orderDetai-tr td {
    padding: 5px 10px;
    font-size: 14px;
    letter-spacing: 1px;
}
/*订单详情的列样式*/
.orderDetai-top td {
    padding-top: 10px !important;
}

.orderDetai-bottom td {
    padding-bottom: 10px !important;
}

.product-table {
    border-bottom: 1px solid #AAAAAA;
}
/*下面的产品列表的下边框*/
.price {
    font-size: 18px;
}
/*金额栏的内容样式*/
/*----订单详情orderDetail的CSS样式----*/


/*----产品详情productDetail的CSS样式----*/
.product-body td {
    padding: 10px;
}
/*产品参数列表每列的内边距CSS样式*/
.product-list td {
    font-size: 14px;
}

.product-message {
    color: #5e5e5e;
    letter-spacing: 1px;
}

.product-data {
    font-size: 13px;
}

.product-price {
    font-size: 14px;
}

.product-price-title td {
    border-bottom: none !important;
    padding-bottom: 0px !important;
}
/*去掉产品标题的下边框*/
.product-price-content > td {
    padding: 15px 10px !important;
    border-bottom: 1px solid #C7C7C7 !important;
}

.product-name {
    font-size: 16px;
}
/*产品名称如“在线进销存旗舰版”的字体大小*/
/*----产品详情productDetail的CSS样式----*/


/*----购物车shoppingCart的CSS样式----*/
.content-tbody td {
    font-size: 14px;
    font-weight: lighter;
}

.money {
    width: 100px;
    color: #019e97;
}
/*金额列表的样式*/

.total-tr td {
    border-bottom: none !important;
}
/*总计行的tr中去掉下表框*/

.total {
    display: inline-block;
    min-width: 100px;
    color: #019e97;
    font-size: 24px;
}
/*总计的数字样式*/

/*收件信息表格的样式*/
.message-table {
    border-bottom: 1px solid #BFBFBF;
}
/*收件信息表格下边框的样式*/
.message-content td {
    padding: 8px 10px 0 !important;
}
/*收件信息表格的td样式*/
.text-block {
    display: inline-block;
    width: 100px;
    height: 28px;
    line-height: 20px;
}
/*收件信息描述的字体样式*/
.content-tbody input {
    width: 250px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    outline: none;
    border: 1px solid #A9A9A9;
}
/*收件信息输入框样式*/
.message-content > tr > td {
    display: inline-block;
    border-bottom: none !important;
}
/*收件信息表格内容体表格的CSS样式*/
.content-tfoot td {
    padding: 15px 10px;
    font-size: 14px;
    font-weight: lighter;
}
/*备注信栏列的样式*/
.content-tfoot input {
    width: 632px;
    height: 26px;
    line-height: 26px;
    padding: 0;
    outline: none;
    border: 1px solid #A9A9A9;
}
/*备注信息输入框的样式*/
/*收件信息表格的样式*/

/*底部购买按钮*/
.emption-btn {
    width: 150px;
    height: 38px;
    background-color: #019e97;
    line-height: 38px;
    padding: 0;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
}

    .emption-btn:hover {
        background-color: #24BFB9;
        cursor: pointer;
    }
/*底部购买按钮*/

/*弹出框的CSS样式*/
.dialogDiv {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    display: none;
}

.promptDialog {
    position: relative;
    display: inline-block;
    top: 40%;
    width: 310px;
    height: 187px;
    background-color: #fff;
    border: 1px solid #B2B2B2;
    border-radius: 3px;
    text-align: center;
}

    .promptDialog h4 {
        height: 40px;
        line-height: 30px;
        padding: 5px 0;
        border-bottom: 1px solid #B2B2B2;
    }

    .promptDialog .payMessage {
        float: left;
        width: 280px;
        text-align: left;
        font-size: 14px;
        color: #6a6a6a;
        letter-spacing: 0;
    }

    .promptDialog .warningImg {
        float: left;
        margin: 0 5px 0 10px;
    }

    .promptDialog .closeBtn {
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        color: #BFBFBF;
    }

        .promptDialog .closeBtn:hover {
            color: #FE9100;
        }

        .promptDialog .closeBtn:hover {
        }

    .promptDialog h5 {
        margin-top: 34px;
        color: #636363;
        font-size: 14px;
    }

    .promptDialog p {
        margin-top: 30px;
    }

    .promptDialog .sureBtn {
        width: 228px;
        height: 34px;
        background-color: #FFA022;
        color: #fff;
        border: none;
        border-radius: 3px;
        outline: none;
        cursor: pointer;
    }

        .promptDialog .sureBtn:hover {
            background-color: #FF9000;
        }

.cancelPromptDialoBtn {
    color: #FFA022;
    border: 1px solid #FFA022;
    border-radius: 3px;
    background-color: #fff;
    height: 34px;
}
    /*弹出框取消按钮样式*/
    .cancelPromptDialoBtn:hover {
        background-color: #FF9000;
        color: #FFF;
    }
/*弹出框的CSS样式*/
/*----购物车shoppingCart的CSS样式----*/


/*----用户中心userCenter的CSS样式----*/
.base-table {
    width: 100%;
    /*border-top: 2px solid #019e97;*/
}

    .base-table > thead tr {
        /*background-color: #F4F4F4;*/
    }

    .base-table > thead td {
        padding: 10px 0;
        text-indent: 10px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: bold;
        text-align: center;
    }

.base-material-table td {
    width: 33%;
}

.base-material-table > tbody td {
    padding: 10px 10px;
    font-size: 14px;
}

.buy-service {
    display: inline-block;
    background-color: #019e97;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
    padding: 0 15px;
    text-align: center;
    text-indent: 0;
}

    .buy-service:hover {
        background-color: #1bbc9b;
        text-decoration: none;
        color: #fff;
    }
/*购买服务按钮*/
.service-title-tr td {
    font-size: 14px;
    padding: 20px 10px;
}

.service-content-tr td {
    font-size: 13px;
    padding: 10px 10px;
    letter-spacing: 2px;
    color: #6c6c6c;
}

.buy_again {
    margin-left: 10px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    text-decoration: none;
    padding: 0 20px;
    width: auto;
    border: 1px solid #019E97;
    text-align: center;
    color: #019E97;
    letter-spacing: 2px;
}
    /*续费、升级、再次购买按钮*/
    .buy_again:hover {
        background-color: #019E97;
        color: #fff;
    }

.green {
    color: #019e97;
}

.total {
    font-size: 24px !important;
}

/*----用户中心userCenter的CSS样式----*/


/*用户中心样式更改*/
.buySuccess_wrapper, .orderDetail_wrapper, .orderCenter_wrapper, .userCenter_wrapper {
    width: 100%;
    font-size: 17px;
    margin-bottom: 100px;
}

.userCenter_topbar {
    color: #fff;
    background-color: #00c8f2;
    padding: 30px 0;
    width: 100%;
    margin-top:70px;
}

.userCenter_topbar_wra {
    width: 1000px;
    margin: 0 auto;
}

    .userCenter_topbar_wra span {
        font-size: 20px;
    }

    .userCenter_topbar_wra div {
        float: right;
        margin-top: -5px;
    }

        .userCenter_topbar_wra div a {
            border: 1px solid #fff;
            display: inline-block;
            padding: 5px 15px;
            border-radius: 5px;
            margin-right: 5px;
        }

            .userCenter_topbar_wra div a:focus {
                text-decoration: none;
                color: #fff;
            }

        .userCenter_topbar_wra div .userbuy_btn {
            display: inline-block;
            padding: 7px 25px;
            background-color: #f7645a;
            border-radius: 5px;
            border: none;
        }

        .userCenter_topbar_wra div span img {
            margin: -4px 5px 0 0;
        }

.userCenter_content {
    width: 1000px;
    margin: 60px auto 20px;
}

.userCenter_title {
    margin-bottom: 30px;
}

    .userCenter_title div {
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

        .userCenter_title div img {
            margin-right: 5px;
        }

        .userCenter_title div span {
            font-size: 14px;
            color: #d0d0d0;
            font-weight: normal;
        }

.userCenter_content_wra li {
    float: left;
    position: relative;
}

.userCenter_content_per {
    border-bottom: 1px dashed #d1d6e2;
    border-top: 1px dashed #d1d6e2;
    padding: 35px 0;
    width: 100%;
}

.registTime {
    position: absolute;
    right: 0;
    text-align: right;
}

.width-30 {
    width: 33.3% !important;
}

.userCenter_content_list {
    float: left;
    position: relative;
    width: 50%;
}

.user-qq {
    position: absolute;
    top: 55px;
    left: 198px;
    color: #fff;
    font-size: 24px;
}

    .user-qq span {
        display: block;
    }

.userService-tel {
    font-size: 17px;
    margin-top: 8px;
}

.userService-qq {
    font-size: 16px;
    margin: 10px 0 0 48px;
}

    .userService-qq a {
        color: #1c0b00;
        text-decoration: none;
    }

.buy_btn {
    position: absolute;
    top: 12px;
    right: 82px;
    width: 202px;
    text-align: center;
    height: 109px;
    display: block;
    line-height: 109px;
    font-size: 24px;
    color:#fff;
    text-decoration:none;
}
.buy_btn:link, .buy_btn:visited{
     color:#fff;
    text-decoration:none;
}
.userCenter_content_ask {
    border: 1px solid #c2c2c2;
    padding: 10px 20px;
    width: 25%;
    height: 134px;
    margin-top: -19px;
}

    .userCenter_content_ask div {
        float: left;
    }

        .userCenter_content_ask div img {
            margin: 50px 35px 0 0;
        }

        .userCenter_content_ask div span {
            display: block;
            margin-bottom: 5px;
            font-size: 15px;
        }

    .userCenter_content_ask .qq {
        padding: 5px 0;
        position: relative;
        color: #fff;
        border-radius: 5px;
        background: -webkit-linear-gradient(top, #a4aab1, #566069);
        width: 150px;
        text-align: center;
        font-size: 15px;
        display: inline-block;
        cursor: pointer;
    }
    /*.userCenter_content_ask .qq:before{
      content: url('@{imgroot}/Images/3.0/service/more_user_icon2.png');
      position:absolute;
      left:-8px;
      top:3px;
}*/
    .userCenter_content_ask div span a {
        color: #333;
    }

.userCenter_content_per div {
    float: left;
    font-size: 17px;
    width: 50%;
}

    .userCenter_content_per div img {
        margin-right: 6px;
    }

.userCenter_content_bot {
    margin-top: 40px;
    font-size: 15px;
}

    .userCenter_content_bot li {
        width: 33.3%;
    }

    .userCenter_content_bot .item {
        border: 1px solid #cccccc;
        border-radius: 4px;
        width: 90%;
        margin: 0 auto;
        padding: 15px;
        height: 178px;
    }

        .userCenter_content_bot .item .userCenter_title {
            color: #4c93f3;
        }

        .userCenter_content_bot .item div {
            padding: 10px 45px;
            border-bottom: 1px dashed #d1d6e2;
        }

            .userCenter_content_bot .item div:last-child {
                border-bottom: none;
            }

.orderCenter_content {
    width: 1000px;
    margin: 40px auto 0;
}

/*订单详情样式更改*/
/*.orderDetail_content_top {
    width: 945px;
    height: 265px;
    margin:30px auto 0;
    padding-top:35px;
    background: url('@{imgroot}/Images/3.0/service/OrderDetail_bgimg.jpg') center no-repeat;   
}*/
.orderDetail_content_top_wrap {
    width: 80%;
    margin: 0 auto;
}

.orderDetail_content_top .orderDetail_title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
}

    .orderDetail_content_top .orderDetail_title div {
        text-align: center;
        letter-spacing: 15px;
        font-family: "SimSun";
    }

    .orderDetail_content_top .orderDetail_title span {
        font-family: "SimSun";
    }

.orderDetail_content_top li {
    float: left;
    width: 50%;
    font-size: 15px;
}

    .orderDetail_content_top li div {
        margin-bottom: 15px;
        font-family: "SimSun";
    }

        .orderDetail_content_top li div span {
            font-family: "SimSun";
            text-decoration: underline;
        }

.orderDetail_content_bot {
    width: 900px;
    margin: 0 auto;
}

    .orderDetail_content_bot table {
        width: 100%;
        text-align: center;
    }

        .orderDetail_content_bot table thead {
            font-size: 17px;
            font-weight: bold;
        }

            .orderDetail_content_bot table thead tr {
                height: 80px;
            }

                .orderDetail_content_bot table thead tr .name {
                    width: 160px;
                }

        .orderDetail_content_bot table tbody {
            font-size: 14px;
        }

            .orderDetail_content_bot table tbody a {
                color: #333;
            }

            .orderDetail_content_bot table tbody td {
                height: 60px;
                border-top: 1px dashed #d1d6e2;
                border-bottom: 1px dashed #d1d6e2;
            }

            .orderDetail_content_bot table tbody .orderDetail_price {
                color: #f7645a;
            }

.orderDetail_saleprice {
    float: right;
    margin: 20px 40px 0 0;
    color: #f7645a;
    font-size: 16px;
}

    .orderDetail_saleprice div {
        margin-bottom: 10px;
    }

/*支付页面样式修改*/
.buySuccess_wrapper {
    margin-top: 110px;
}
/*.buySuccess_wrapper .orderDetail_content_top {
        background: url('@{imgroot}/Images/3.0/service/BuySuccess_img1.jpg') center no-repeat;
    }*/
.buySuccess_content_top div {
    margin-top: 20px;
    font-family: "SimSun";
}

.buySuccess_content_top span {
    font-family: "SimSun";
    text-decoration: underline;
}

.buySuccess_content_top .buySuccess_price {
    font-size: 25px;
    font-weight: bold;
}

.buySuccess_payWay {
    width: 900px;
    margin: 0 auto;
}

.buySuccess_payOnline {
    border-top: 1px dashed #d1d6e2;
    border-bottom: 1px dashed #d1d6e2;
    padding: 30px 15px;
    margin-bottom: 50px;
}

    .buySuccess_payOfline li, .buySuccess_payOnline li {
        float: left;
    }

.buySuccess_payimg {
    width: 84%;
}

    .buySuccess_payimg img {
        margin: 0 60px 0 15px;
    }

    .buySuccess_payimg button {
        display: inline-block;
        background-color: #f75047;
        color: #fff;
        padding: 7px 25px;
        border-radius: 10px;
        margin-top: 30px;
    }

        .buySuccess_payimg button:focus {
            outline: none;
        }

.buySuccess_title {
    font-size: 17px;
    width: 10%;
    margin: 5px 4% 0 0;
}

.buySuccess_payOfline_item {
    background-color: #f6f6f6;
    padding: 20px;
    margin-bottom: 20px;
    height: 130px;
}

    .buySuccess_payOfline_item img {
        margin: 15px 30px 0 0;
        width: 250px;
    }

    .buySuccess_payOfline_item li div {
        margin-bottom: 10px;
    }

        .buySuccess_payOfline_item li div span {
            font-weight: bold;
        }

.buySuccess_payOfline {
    font-size: 15px;
    padding: 0 15px;
}
